<nav>
  <div class="nav-wrapper blue-grey darken-4">
    <a href="#" class="brand-logo brand-name">Booty Builder</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Home</a></li>
      <li><a href="badges.html">Search</a></li>
      <li><a href="collapsible.html">Signout</a></li>
    </ul>
  </div>
</nav>

<section class="introduction-banner"> 
  <div class="button-links"> 
    <%= link_to 'Register', new_user_path, class: "register-button" %> 
    <%= link_to 'Sign In', login_path, class: "signin-button" %> 
  </div> 
</section>


  <div class="row"> 
    <div id="page-content"> 
  <h3 class="content-text">Find all isolated glute exercises</h3>
    <div class="col s4"> 
      <img class="content-photo" src="/images/fit.jpg"> 

    </div>

    <div class="col s4"> 
       <img class="content-photo" src="/images/color-glute.jpg">

     
    </div> 

    <div class="col s4"> 
       <img class="content-photo" src="/images/dumbell-girl.jpg">
    </div>
  </div> 




</section>