// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.register-form {
  width: 1000px;
  padding-left: 450px;
  position: relative;
}

.register-form input[type="password"] {
  color: black;
}

.log-form {
  width: 400px;
  margin: 100px auto;
  padding:50px;
  border: 1px solid rgba(0,0,0,0.1);
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  background:#fff;
  position: relative;
}

.register-text {
  text-align: center;
  color: black;
}

.register-banner {
  position: absolute;
  width: 100%;
}

.log-form > label{
  display:block;
  margin:10px 0 15px;
  line-height:15px;
  cursor:pointer;
  position: relative;
}

.register-button { 
  width: 300px;
  height: 50px;
  background-color: #D81E5B;
  border-color: #33474F;
  text-shadow: none;
  border-style: none;
  margin-top: 15px;
  border-radius: 4px;
  color: white;
  margin-right: 15px;
  font-size: 1.125rem;
}

.register-button:hover{
  background-color: #FE1400;
}

/* user profile */
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400|Lato:400,300|Coda|Open+Sans);

a {
  text-decoration: none;
  color: #3498db;
}

.content-profile-page {
  margin: 1em auto;
  margin-bottom: 10px; 
  width: 50.23em;
}

.card {
  background: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: .1em solid rgba(0, 0, 0, 0.2);
  margin-bottom: 6em; 
}

.profile-user-page .img-user-profile {
  text-align: center; 
}

.profile-user-page .img-user-profile .profile-bgHome {
  border-bottom: .2em solid #f5f5f5;
  width: 50.23em;
  height: 20em;
  margin-top: 10px;
}


/* personal navigation */
#navBottom {
  background-color: #00AA99;
}

#navBottom ul {
  text-align: center; 
}

#navTxtBottom{
  width: 100%; 
  margin-left: 200px; 
  display: block; 
  list-style: none; 
  text-decoration: none; 
  text-align: center; 
  margin-bottom: 20px;
}

#navTxtBottom li {
  padding-left: 180px; 
}

#user-name {
  color: white;
  text-align: center;
  font-weight: 180px;

}

/* end of personal navigation */

/* user edit page */
#user-edit {
  background: #FAFAFA;
  border-bottom: 2px solid #C5C5C8;
  border-radius: 5px;
  text-align: center;
  color: #36383C;
  text-shadow: 0 1px 0 #FFF;
  max-width: 400px;
  margin-top: 30px;
  position: relative; 
  margin-left: 500px;
  padding: 15px 40px 20px 40px;
  box-shadow: 0 0 3px #000;
}

#user-edit:before{
  display: block;
  width: 100px;
  height: 4px;
  background: #4E535B;
  border-radius: 5px;
  border-bottom: 1px solid #FFFFFF;
  border-top: 2px solid #CBCBCD;
  margin: 0 auto;
}

#user-edit input {
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 380;
  color: black;
  margin-top: 0;
  margin-bottom: 30px;

}

.edit-button {
  background-color: #00AA99;
  width: 280px;
  height: 50px;
 
}

.edit-banner {
  background: url("/images/jen.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute; 
  top:0;
  left:0;
  width:100%;
  height: 100%; 
  display: block;
  z-index:0;
  margin-top: 60px;
  background-color: rgba(0, 0, 0,0.6);
}

/* photo feed */
.content {
  margin: 0 auto;
  padding: 5px;
  clear: left;
}

.feed-box {
  margin: 0;
  display: block;
}


.feed-box {
  list-style:none;
  display: inline;
  position: relative;
  float: left;
  width: 200px;
  padding: 7px 0 25px 0; 
}

li {
  list-style:none;
  display: inline;
  position: relative;
  float: left;
}

.photo-wrapper {
  position: relative;
  text-align: center;
  margin: 0 20px 10px;
}

.text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 25px;
  color: #333;
  opacity: 0;
  transition: opacity .1s ease-out 0.1s;
  pointer-events: none;
}

.photo {
  width: 300px;
  height: 300px;
}

.clear-fix {
  clear: both;
}
