// Place all the styles related to the workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.buttology { 
  text-align: center; 
  background-color: #E0E0E0;
}

.glutes {
  width: 500px; 
  height: 500px;
}

.anatomy {
  width: 350px; 
  height: 350px; 
  padding-top: 20px; 
}

.glutes_section {
  text-align: center;
}