// Place all the styles related to the workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.buttology { 
  text-align: center; 
}

.anatomy {
  width: 350px; 
  height: 350px; 
  padding-top: 20px; 
}